.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#caterpillar-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-board {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
}

.category {
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  width: 30%;
}

.clues {
  font-size: 0.8em;
}

.caterpillar {
  font-size: 2em;
  margin-bottom: 20px;
}

#score {
  margin-top: 20px;
}
